<footer class="bg-dark text-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre Nosotros</h5>
          <p>Somos una empresa dedicada a ofrecer las mejores máquinas de gimnasio.</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-light">Inicio</a></li>
            <li><a href="./modules/producto/producto.module" class="text-light">Productos</a></li>
            <li><a href="/contacto" class="text-light">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li>Email: info@empresa.com</li>
            <li>Teléfono: +123 456 7890</li>
            <li>Dirección: Calle Falsa 123, Ciudad, País</li>
          </ul>
          <div>
            <a href="https://www.facebook.com" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" class="text-light me-3"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" class="text-light"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        &copy; 2024 Empresa. Todos los derechos reservados.
      </div>
    </div>
  </footer>
  